<div class="d-flex flex-column justify-content-center align-items-center gap-4 h-100">
	<i class="material-icons main-icon m-0" style="font-size: 10rem;">
		sentiment_dissatisfied
	</i>
	<div class="p-3 theme-border theme-foreground">
		<p class="user-select-none m-0">Nothing found, click a <span style="font-weight:bold;">PRODUCT</span> or a <span style="font-weight:bold;">TAB</span></p>
	</div>
</div>