<div class="position-relative h-100">
	<i class="material-icons main-icon m-0 position-absolute top-50 start-50 translate-middle" style="font-size: 10rem;">
		home
	</i>

	<div class="hint-box-l position-absolute d-flex gap-3 p-3 top-0 start-0 text-wrap theme-border theme-foreground">
		<i class="material-icons main-icon m-0">
			west
		</i>
		<p class="user-select-none m-0">You can click one of the products</p>
	</div>

	<div class="hint-box-r position-absolute d-flex gap-3 p-3 top-0 end-0 text-wrap theme-border theme-foreground">
		<p class="user-select-none m-0">You can also click one of the tabs</p>
		<i class="material-icons main-icon m-0">
			north
		</i>
	</div>
</div>